@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import url('./reset.css');

:root {
    --purple-color: #985ace;
    --input-text-color: #403a4b;

    --input-bg-color: #f8f1ff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;

    padding: 3rem;

    background-color: var(--purple-color);
}

.d-none {
    display: none;
}

.bold {
    font-weight: 700;
}

.header {
    font-weight: 800;
    font-size: 5rem;

    color: white;
    text-align: center;

    margin-bottom: 3rem;

    text-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.modal {
    padding: 4rem;

    width: 100%;
    max-width: 30rem;

    border-radius: 2rem;
    background-color: white;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.17);
}

.modal__header {
    display: flex;

    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 3rem;
}

.modal__header-login,
.modal__header-reg {
    cursor: pointer;
}

.modal__header-login {
    margin-right: 1rem;
}

.modal__header--active {
    color: var(--purple-color);
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__form-input {
    width: 100%;

    background-color: var(--input-bg-color);
    border-radius: 0.5rem;
    border: 1px solid transparent;

    font-size: 0.85rem;
    font-weight: 500;
    color: var(--input-text-color);

    padding: 1rem 1.15rem;
    margin-bottom: 0.65rem;
}

.modal__form-input:focus {
    outline: none;
    border: 1px solid var(--purple-color);
}

.modal__form--singup .modal__form-input:last-of-type {
    margin-bottom: 3rem;
}

.modal__form-check {
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;

    font-weight: 500;

    margin: 1.5rem 0 1.5rem 2rem;
}

.modal__form-check input {
    display: none;
}

.modal__form-check--unchecked::after,
.modal__form-check--checked::after {
    position: absolute;
    content: "";

    top: 0;
    left: -2rem;

    width: 15px;
    height: 15px;

    border-radius: 3px;
}

.modal__form-check--unchecked::after {
    background: var(--input-bg-color);
}

.modal__form-check--checked::after {
    border: 3px solid var(--input-bg-color);
    background: var(--purple-color);
}

.modal__form-submit {
    cursor: pointer;
    width: 100%;

    font-weight: 700;
    font-size: 0.85rem;

    text-align: center;
    text-transform: uppercase;

    padding: 0.85rem 0;

    color: white;
    background-color: var(--purple-color);

    border: none;
    border-radius: 0.5rem;
}

.modal__divider {
    display: block;
    width: 100%;

    margin: 1.5rem 0;

    opacity: 0.5;
    border-bottom: 1px solid #000000;
}

.modal__forgot {
    display: block;
    cursor: pointer;

    font-size: 0.85rem;
    font-weight: 500;

    text-align: center;
    text-decoration: none;

    color: black;

    margin-bottom: 1.5rem;
}

.google-singup {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-size: 0.85rem;

    text-align: center;
    text-decoration: none;

    padding: 0.85rem 0;

    color: black;

    border-radius: 0.5rem;
    border: 1px solid var(--purple-color);
}

.google-singup__img {
    width: 20px;
    height: 20px;

    margin-right: 1rem;
}